::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

b, strong {
	font-weight: bold;
}

a{
	color: $text_white;
	&:hover {
		color: $text_white;
		text-decoration: none;
	}
}

h1{
	font-size: 42px;
	font-weight: 800;
}
