@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  .header{
    font-size: 16px;
  }

  .login{
    &__img{
      width: 13px;
      height: 16px;
    }
  }

  .register{
    &__img{
      width: 14px;
      height: 17px;
    }
  }
  // /.container-header
  .iphone-block{
    &__img{
      width: 329px;
      height: 435px;
    }
  }
  // /.container-heading
  .interaction-block{
    padding-top: 1em;
  }
  .title-column{
    display: none !important;
  }
  // /.container-interaction
}

// ≥992px
@include media-breakpoint-down(md) {
  .header{
    font-size: 13px;
  }

  .login{
    &__img{
      width: 11px;
      height: 12px;
    }
  }

  .register{
    &__img{
      width: 11px;
      height: 12px;
    }
  }
  // /.container-header
  h1, .heading-page{
    font-size: 30px;
  }

  .title-block{
    &__title{
      line-height: 1;
    }
    &__line{
      right: 18px;
      width: 148px;
    }
    &__text{
      font-size: 21px;
    }
    &__btns{
      margin-top: 10em;
      font-size: 12px;
    }
  }

  .btns{
    &__join{
      &_r{
        font-size: 11px;
      }
    }
  }
  .iphone-block{
    &__img{
      width: 279px;
      height: 375px;
    }
  }
  // /.container-heading
  h2, .container-howItWorks{
    font-size: 28px;
  }
  .title-section__line{
      @include section-line(left, md);
  }
  .actions-block__action{
      width: 135px;
      font-size: 12px;
      color: #037693;
    }
  .action__img{
    width: 60px;
    height: 60px;
  }
  // /.container-howItWorks
  .interaction-block{
    font-size: 20px;
    &__interaction-text{
      max-width: 430px;
      margin-right: 5em;
      text-align: center;
    }
    &__interaction-actions{
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
    }
  }

  .interaction-text{
    &__title{
      width: auto;
      &_br{
        display: none;
      }
    }
    &__add-title{
      display: flex;
      flex-direction: column;
      font-size: 24px;
    }
    &__text{
      &_hr{
        display: none;
      }
    }
  }

  .add-title{
    &__line{
      margin: 0 auto;
    }
  }

  .interaction-actions{
    &__img{
      position: static;
      margin-top: 0.5em;
      width: 123px;
      height: 123px;
    }
  }
  // /.container-interaction
}


// ≥768px
@include media-breakpoint-down(sm) {
  .header{
    position: relative;
    &__logo{
      padding: 20px 0;
      max-width: none;
    }
    &__menu{
      display: none !important;
    }
    &__menu-mobile{
      display: block;
      position: absolute;
      right: 20px;
      background: url("../img/menu-btn.svg") center center no-repeat;
      background-size: cover;
      width: 32px;
      height: 32px;
    }
    &__login-form{
      display: none !important;
    }
  }

  .logo{
    &__img{
      width: 60px;
    }
  }
  // /.container-header
  h1, .heading-page{
    font-size: 21px;
  }

  .title-block{
    &__title{
      line-height: 1;
    }
    &__line{
      width: 110px;
    }
    &__text{
      font-size: 14px;
    }
    &__btns{
      margin: 3em 0;
      font-size: 12px;
    }
  }

  .btns{
    &__create{
      padding: 0.5em 0.5em; //em
    }
    &__join{
      &__l{
        padding: 0.5em 0.5em; //em
      }
      &_r{
        padding: 0.7em 0.5em; //em
        font-size: 11px;
      }
    }
  }
  .iphone-block{
    display: none;
  }
  // /.container-heading
  h2, .container-howItWorks{
    font-size: 24px;
  }
  .title-section__line{
      @include section-line(left, sm);
  }
  .actions-block{
    width: 320px;
  }
  .actions-block__action{
      width: 110px;
      font-size: 10px;
      color: #037693;
    }
  .action__img{
    width: 50px;
    height: 50px;
  }
  // /.container-howItWorks
  .interaction-block{
    flex-direction: column-reverse;
    justify-content: center;
    font-size: 14px;
    &__interaction-text{
      width: 320px;
      margin-top: 2em;
      margin-right: 0em;
    }
    &__interaction-actions{
      display: flex;
      flex-direction: row;
      width: auto;
      height: auto;
    }
  }

  .interaction-text{
    &__title{
      font-weight: 700;
    }
    &__add-title{
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
    &__text{
      font-size: 12px;
      &_hr{
        display: none;
      }
    }
  }

  .interaction-actions{
    &__img{
      margin-top: 0.5em;
      margin-right: 0.5em;
      width: 90px;
      height: 90px;
    }
  }
  // /.container-interaction
}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {
}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
