@import "vars";
@import "fonts";
@import "libs";
@import "basic";

@import "_mixins/section-line";

.container-header{
  @extend .container-fluid;
  &__header{
    @extend .row, .justify-content-center, .align-items-center;
  }
}
.header{
  background-color: #121011;
  color: $text_white;
  font-weight: 200;
  font-size: 19px;
  &__logo{
    @extend .col-1,.col-md-1;
  }
  &__menu{
    @extend .col-md-auto, .d-flex;
    margin-left: 5em;
    margin-right: 1.8em;
  }
  &__menu_mobile{
    display: none;
  }
  &__login-form{
    @extend .col-md-auto, .d-flex;
  }
}

.logo{
  &__img{
    max-width: 60px;
    padding: 10px 0;
  }
}

.menu{
  list-style: none;
  &__item{
    padding: 1.8em 0.2em;
    margin-right: 0.7em;
    border-top: 2px solid transparent;
    transition: all 0.1s;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      border-top: 2px solid white;
      background-color: rgba(#ffffff, 0.1);
      font-weight: bold;
    }
  }
}

.login{
  @extend .d-flex, .flex-column, .align-items-center;
  margin-right: 2em;
  &__img{
    width: 16px;
    height: 17px;
    margin-bottom: 0.1em;
  }
  &__label{
    font-size: 9px;
  }
}

.register{
  @extend .d-flex, .flex-column, .align-items-center;
  &__img{
    width: 15px;
    height: 17px;
    margin-bottom: 0.1rem;
  }
  &__label{
    font-size: 9px;
  }
}
// /.container-header
.container-heading{
  @extend .container-fluid;
  background: url("../img/heading-img.jpg") center center  no-repeat #577095;
  background-size: cover;
  font-size: 42px;
  &__heading-page{
    @extend .row, .justify-content-center;
    padding-top: 4em;
    color: $text_white;
  }
}

.heading-page{
  &__title-block{
    @extend .col-auto;
    position: relative;
    text-align: center;
  }
  &__iphone-block{
    @extend .col-md-auto;
  }
}

.title-block{
  &__title{
    line-height: 1;
  }
  &__line{
    position: absolute;
    right: 15px;
    background: url("../img/heading-line.png") no-repeat;
    background-size: contain;
    width: 208px;
    height: 5px;
  }
  &__text{
    font-size: 25px;
    margin-top: 1em;
  }
  &__btns{
    @extend .d-flex, .justify-content-center;
    margin-top: 7em;
    font-size: 16px;
  }
}

.btns{
  &__create{
    border: 1px solid white;
    padding: 0.5em 1em; //em
    font-weight: 600;
    margin-right: 2.5em;

  }
  &__join{
    @extend .d-flex;
    &_l{
      border: 1px solid white;
      border-right: none;
      padding: 0.5em 1em; //em
    }
    &_r{
      font-size: 14px;
      padding: 0.7em 1em; //em
      background-color: #e8e9ea;
      color: $text_blue;
    }
  }
}

.iphone-block{
  &__img{
    background: url("../img/iPhone.png") center top no-repeat;
    background-size: cover;
    width: 359px;
    height: 465px;
  }
}
// /.container-heading
.container-howItWorks{
  @extend .container-fluid;
  font-size: 42px;
  &__howItWorks-page{
    @extend .d-flex, .flex-column, .align-items-center;
    padding-top: 2em;
    padding-bottom: 1.5em;
  }
}

.title-section{

  position: relative;
  &__title{

  }
  &__line{
    @include section-line();
  }
}

.actions-block{
  @extend .row, .justify-content-center;
  margin-top: 1.5em;
  &__action{
    @extend .d-flex, .flex-column, .align-items-center;
    margin-right: 2em;
    margin-bottom: 1em;
    text-align: center;
    width: 200px;
    font-size: 18px;
    line-height: 1;
    color: $text_blue;
  }
}

.action{
  &__img{
    border: 1px solid #88bfcc;
    padding: 1em;
    width: 81px;
    height: 81px;
    &_filled{
      background-color: $text_blue;
    }
  }
  &__title{
    margin-top: 1em;
    &_up{
      text-transform: uppercase;
    }
  }
}

@mixin action-icon($name) {
  background: url("../img/action-#{$name}.png") center center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.img{
  &__icon{
    &-phone{
      @include action-icon(phone);
    }
    &-discuss{
      @include action-icon(discuss);
    }
    &-qr{
      @include action-icon(qr);
    }
    &-favorites{
      @include action-icon(favorites);
    }
  }
}
// /.container-howItWorks
.container-interaction{
  @extend .container-fluid;
  background-color: $text_blue;
  &__interaction-page{
    color: $text_white;
  }
}

.title-column{
  @extend .d-flex, .align-items-center;
  width: 225px;
  padding: 1em;
  border: 1px solid white;
  transform: rotate(-90deg) translateX(-88px);
  &__img{
    background: url("../img/title-column.png") no-repeat;
    background-size: contain;
    width: 61px;
    height: 13px;
    margin-right: 0.25em;
  }
  &__text{
    line-height: 0;
    letter-spacing: 0.16em;
    font-size: 20px;
    color: $text_white;
  }
}

.interaction-block{
  @extend .row, .justify-content-center, .align-items-center;
  font-size: 42px;
  padding-bottom: 1em;
  &__interaction-text{
    max-width: 460px;
  }
  &__interaction-actions{
    position: relative;
    width: 300px;
    height: 400px;
  }
}

.interaction-text{
  margin-right: 2em;
  &__title{
    width: 250px;
    margin-bottom: 0.2em;
    line-height: 1.2;
    font-weight: 700;
  }
  &__add-title{
    @extend .d-flex;
    margin-bottom: 1em;
    font-size: 21px;
    font-weight: 500;
  }
  &__text{
    font-size: 13px;
    font-weight: 200;
    letter-spacing: (20em/1000);
    &_hr{
      visibility: hidden;
    }
  }
}

.add-title{
  &__text{
    margin-right: 0.2em;
  }
  &__line{
    width: 7em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid white;
  }
}

.interaction-actions{
  &__img{
    position: absolute;
    width: 192px;
    height: 192px;
    &_ask{
      background: url("../img/action-ask.png") no-repeat;
      background-size: cover;
    }
    &_choose{
      top: 100px;
      left: 100px;
      background: url("../img/action-choose.png") no-repeat;
      background-size: cover;
    }
    &_select{
      bottom: 10px;
      background: url("../img/action-select.png") no-repeat;
      background-size: cover;
    }
  }
}
// /.container-interaction
.container-features{
  @extend .container-fluid;
  &__features-page{
    @extend .row, .flex-column, .align-items-center;
    font-size: 42px;
    padding: 2em 0;
  }
}

.features-page{
  &__title-section{

  }
  &__features-block{
    display: table;
    margin-top: 2em;
    position: relative;
    border-collapse: collapse;
    font-size: 21px;
    font-weight: 700;
    color: $text_blue;
    &:before{
      content: "";
      position: absolute;
      top: 112px;
      left: 248px;
      width: 2.4em;
      height: 2.4em;
      background: white;
    }
    &:after{
      content: "";
      position: absolute;
      top: 112px;
      left: 520px;
      width: 2.4em;
      height: 2.4em;
      background: white;
    }
  }
}

.features-block_m{
  display: none;
}

.feature-tr{
  display: table-row;
}

.feature-tr:first-child .feature{
  border-top: none;
}

.feature-tr:last-child .feature{
  border-bottom: none;
}

.feature-tr .feature:first-child{
  border-left: none;
}

.feature-tr .feature:last-child{
  border-right: none;
}

.feature{
  display: table-cell;
  padding: 1em 3em;
  border: 1px solid $text_blue;
  text-align: center;
  &__img{
    margin: 0 auto;
    padding-bottom: 3em;
    &_mic{
      background: url("../img/microphone.png") no-repeat;
      background-size: contain;
      width: 23px;
      height: 44px;
    }
    &_chart{
      background: url("../img/bar-chart.png") no-repeat;
      background-size: contain;
      width: 40px;
      height: 36px;
    }
    &_insight{
      background: url("../img/insight.png") no-repeat;
      background-size: contain;
      width: 42px;
      height: 34px;
    }
    &_medal{
      background: url("../img/medal.png") no-repeat;
      background-size: contain;
      width: 34px;
      height: 36px;
    }
    &_flag{
      background: url("../img/flag.png") no-repeat;
      background-size: contain;
      width: 32px;
      height: 40px;
    }
    &_padlock{
      background: url("../img/padlock.png") no-repeat;
      background-size: contain;
      width: 31px;
      height: 37px;
    }
  }
}
// /.container-features
.container-partners{
  @extend .container-fluid;
  background: url("../img/partners-bg.jpg") center center no-repeat #5b5a5a;
  background-size: cover;
  &__partners-page{
    @extend .d-flex, .flex-column, .align-items-center;
    font-size: 42px;
    padding: 1em 0;
  }
}

.title-section{
  position: relative;
  &__title_w{
    color: $text_white;
  }
  &__line_rw{
    @include section-line(right, lg, white);
  }
}

.partners-block{
  @extend .d-flex, .align-items-center;
  margin-top: 1.5em;
  &__scroll-l{
    background: url("../img/scroll-l.png") no-repeat;
    background-size: contain;
    width: 14px;
    height: 28px;
    margin-right: 1em;
  }
  &__partners{
    &_m{
      display: none;
    }
    text-align: center;
  }
  &__scroll-r{
    background: url("../img/scroll-r.png") no-repeat;
    background-size: contain;
    width: 14px;
    height: 28px;
    margin-left: 1em;
  }
}

.partners{
  &__img{
    margin-right: 1em;
    &:last-child{
      margin-right: 0;
    }
    max-width: 98px;
  }
}
// /.container-partners
.container-events{
  @extend .container-fluid;
  background-color: #e8e8e8;
  &__events-page{
    @extend .row, .flex-column, .align-items-center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 42px;
    &-m{
      display: none;
    }
  }
}

.event{
  @extend .d-flex, .flex-column, .align-items-center;
  margin-top: 1em;
  padding-bottom: 0.5em;
  width: 330px;
  background-color: white;
  font-size: 44px;
  text-align: center;
  &__title{
    padding-top: 0.5em;
    padding-bottom: 0.8em;
    margin-bottom: 0.2em;
    color: $text_white;
    font-weight: 200;
    line-height: 1.2;
    text-transform: uppercase;
    &_b{
      font-size: 50px;
      font-weight: 700;
    }
  }
  &__text{
    margin-top: 0.5em;
    width: 245px;
    color: black;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: (20em/1000);
    line-height: 1.3;
  }
  &__btn{
    padding: 0.07em 1.1em;
    margin-top: 0.5em;
    font-size: 19px;
    font-weight: 500;
    border-radius: 50px;
  }
}

.events-block{
  @extend .d-flex;
  &__event{
    &_external{
      transform: translate(50px, 5px) scale(0.85);
      box-shadow: -2px 6px 5px -5px rgba(0, 0, 0, 0.35);
      .event{
        &__title{
          background: url("../img/events-external.jpg") center center no-repeat;
          background-size: cover;
        }
        &__icon{
          background: url("../img/usb-connection-c.png") no-repeat;
          background-size: contain;
          width: 38px;
          height: 57px;
        }
        &__btn{
          background-color: #4ca59a;
        }
      }

    }
    &_interactive{
      z-index: 1;
      box-shadow: 0 0 2em 0.01em rgba(0, 0, 0, 0.26);
      .event{
        &__title{
          background: url("../img/events-interactive.jpg") center center no-repeat;
          background-size: cover;
        }
        &__icon{
          background: url("../img/interactivity-c.png") no-repeat;
          background-size: contain;
          width: 42px;
          height: 57px;
        }
        &__btn{
          background-color: #f26250;
        }
      }

    }
    &_internal{
      transform: translate(-50px, 5px) scale(0.85);
      box-shadow: 2px 6px 5px -5px rgba(0, 0, 0, 0.35);
      .event{
        &__title{
          background: url("../img/events-internal.jpg") center center no-repeat;
          background-size: cover;
        }
        &__icon{
          background: url("../img/hard-disk-c.png") no-repeat;
          background-size: contain;
          width: 42px;
          height: 57px;
        }
        &__btn{
          background-color: #f0a765;
        }
      }

    }
  }
}

.container-interaction{
  @extend .container-fluid;
  background-color: $text_blue;
  &__interaction-page{
    color: $text_white;
  }
}

.title-column{
  @extend .d-flex, .align-items-center;
  width: 225px;
  padding: 1em;
  border: 1px solid white;
  transform: rotate(-90deg) translateX(-88px);
  &__img{
    background: url("../img/title-column.png") no-repeat;
    background-size: contain;
    width: 61px;
    height: 13px;
    margin-right: 0.25em;
  }
  &__text{
    line-height: 0;
    letter-spacing: 0.16em;
    font-size: 20px;
    color: $text_white;
  }
}
/*
.container-interaction{
  @extend .container-fluid;
  background-color: $text_blue;
  &__interaction-page{
    color: $text_white;
  }
}

.title-column{
  @extend .d-flex, .align-items-center;
  width: 225px;
  padding: 1em;
  border: 1px solid white;
  transform: rotate(-90deg) translateX(-88px);
  &__img{
    background: url("../img/title-column.png") no-repeat;
    background-size: contain;
    width: 61px;
    height: 13px;
    margin-right: 0.25em;
  }
  &__text{
    line-height: 0;
    letter-spacing: 0.16em;
    font-size: 20px;
    color: $text_white;
  }
}

.interaction-block{
  @extend .row, .justify-content-center, .align-items-center;
  font-size: 42px;
  padding-bottom: 1em;
  &__interaction-text{
    max-width: 460px;
  }
  &__interaction-actions{
    position: relative;
    width: 300px;
    height: 400px;
  }
}

.interaction-text{
  margin-right: 2em;
  &__title{
    width: 250px;
    margin-bottom: 0.2em;
    line-height: 1.2;
    font-weight: 700;
  }
  &__add-title{
    @extend .d-flex;
    margin-bottom: 1em;
    font-size: 21px;
    font-weight: 500;
  }
  &__text{
    font-size: 13px;
    font-weight: 200;
    letter-spacing: (20em/1000);
    &_hr{
      visibility: hidden;
    }
  }
}

.add-title{
  &__text{
    margin-right: 0.2em;
  }
  &__line{
    width: 7em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid white;
  }
} */
// /.container-events
.container-aboutUs{
  @extend .container-fluid;
  &__aboutUs-page{
    color: #2d2d2d;
  }
}


.aboutUs-page{
  font-size: 42px;
  padding-bottom: 1em;
  &__title-column{
    padding: 0.8em;
    transform: rotate(-90deg) translateX(-93px);
    width: 235px;
    border: 1px solid #7ab6c6;
    border-right: none;
    font-size: 21px;
    .title-column{
      &__img{
        background: url("../img/title-column-b.png") no-repeat;
        width: 90px;
      }
      &__text{
        color: $text_blue;
        font-size: 21px;
        font-weight: 200;
      }
    }

  }
  &__wrapper{
    @extend .row, .flex-column, .align-items-center;
  }
  &__title-section{

  }
  &__aboutUs-block{
    @extend .row, .justify-content-center;
    margin-top: 1em;
    margin-left: 2em;
  }
}

.title-section{
  &__line_r{
    @include section-line(right);
  }
}

.aboutUs-text{
  margin-right: 1em;
  &__title{
    width: 250px;
    margin-bottom: 0em;
    line-height: 1.2;
    font-weight: 700;
    color: $text_blue;
  }
  &__add-title{
    @extend .d-flex;
    margin-bottom: 1em;
    font-size: 21px;
    font-weight: 500;
  }
  &__text{
    max-width: 460px;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: (20em/1000);
    &_hr{
      visibility: hidden;
    }
  }
}

.add-title{
  &__text{
    color: $text_blue;
    letter-spacing: (60em/1000);
  }
  &__line{
    border-bottom: 1px solid $text_blue;
  }
}

.stat-block{
  text-align: center;
  width: 117px;
  padding-bottom: 0.5em;
  margin-right: 0.5em;
  border-bottom: 3px solid black;
  &__img{
    margin: 0 auto;
    width: 47px;
    height: 47px;
  }
  &__nums{
    font-size: 35px;
  }
  &__text{
    font-size: 16px;
    font-weight: 200;
    color: #2d2d2d;

  }
}

.aboutUs-stats{
  @extend .row, .align-items-center;
  &__stat-block{
    &_audience{
      border-color: #4ca59a;
      .stat-block{
        &__img{
          background: url("../img/ellipse-green.png") no-repeat;
          background-size: contain;

        }
        &__nums{
          color: #4ca59a;

        }
        &__text{

        }
      }
    }
    &_hours{
      border-color: #f26250;
      .stat-block{
        &__img{
          background: url("../img/ellipse-red.png") no-repeat;
          background-size: contain;
        }
        &__nums{
          color: #f26250;

        }
        &__text{

        }
      }
    }
    &_events{
      border-color: #f0a765;
      .stat-block{
        &__img{
          background: url("../img/ellipse-orange.png") no-repeat;
          background-size: contain;
        }
        &__nums{
          color: #f0a765;
        }
        &__text{

        }
      }
    }
  }
}
// /.container-aboutUs
@import "media"; // Always at the end
