@import "vars";
@import "fonts";
@import "libs";
@import "basic";

@import "_mixins/section-line";

.container-header{
  @extend .container-fluid;
  &__header{
    @extend .row, .justify-content-center, .align-items-center;
  }
}
.header{
  background-color: #121011;
  color: $text_white;
  font-weight: 200;
  font-size: 19px;
  &__logo{
    @extend .col-1,.col-md-1;
  }
  &__menu{
    @extend .col-md-auto, .d-flex;
    margin-left: 5em;
    margin-right: 1.8em;
  }
  &__menu_mobile{
    display: none;
  }
  &__login-form{
    @extend .col-md-auto, .d-flex;
  }
}

.logo{
  &__img{
    max-width: 60px;
    padding: 10px 0;
  }
}

.menu{
  list-style: none;
  &__item{
    padding: 1.8em 0.2em;
    margin-right: 0.7em;
    border-top: 2px solid transparent;
    transition: all 0.1s;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      border-top: 2px solid white;
      background-color: rgba(#ffffff, 0.1);
      font-weight: bold;
    }
  }
}

.login{
  @extend .d-flex, .flex-column, .align-items-center;
  margin-right: 2em;
  &__img{
    width: 16px;
    height: 17px;
    margin-bottom: 0.1em;
  }
  &__label{
    font-size: 9px;
  }
}

.register{
  @extend .d-flex, .flex-column, .align-items-center;
  &__img{
    width: 15px;
    height: 17px;
    margin-bottom: 0.1rem;
  }
  &__label{
    font-size: 9px;
  }
}
// /.container-header
.container-heading{
  @extend .container-fluid;
  background: url("../img/heading-img.jpg") center center  no-repeat #577095;
  background-size: cover;
  font-size: 42px;
  &__heading-page{
    @extend .row, .justify-content-center;
    padding-top: 4em;
    color: $text_white;
  }
}

.heading-page{
  &__title-block{
    @extend .col-auto;
    position: relative;
    text-align: center;
  }
  &__iphone-block{
    @extend .col-md-auto;
  }
}

.title-block{
  &__title{
    line-height: 1;
  }
  &__line{
    position: absolute;
    right: 15px;
    background: url("../img/heading-line.png") no-repeat;
    background-size: contain;
    width: 208px;
    height: 5px;
  }
  &__text{
    font-size: 25px;
    margin-top: 1em;
  }
  &__btns{
    @extend .d-flex, .justify-content-center;
    margin-top: 7em;
    font-size: 16px;
  }
}

.btns{
  &__create{
    border: 1px solid white;
    padding: 0.5em 1em; //em
    font-weight: 600;
    margin-right: 2.5em;

  }
  &__join{
    @extend .d-flex;
    &_l{
      border: 1px solid white;
      border-right: none;
      padding: 0.5em 1em; //em
    }
    &_r{
      font-size: 14px;
      padding: 0.7em 1em; //em
      background-color: #e8e9ea;
      color: #037693;
    }
  }
}

.iphone-block{
  &__img{
    background: url("../img/iPhone.png") center top no-repeat;
    background-size: cover;
    width: 359px;
    height: 465px;
  }
}
// /.container-heading
.container-howItWorks{
  @extend .container-fluid;
  font-size: 42px;
  &__howItWorks-page{
    @extend .d-flex, .flex-column, .align-items-center;
    padding-top: 2em;
    padding-bottom: 1.5em;
  }
}

.title-section{

  position: relative;
  &__title{

  }
  &__line{
    @include section-line();
  }
}

.actions-block{
  @extend .row, .justify-content-center;
  margin-top: 1.5em;
  &__action{
    @extend .d-flex, .flex-column, .align-items-center;
    margin-right: 2em;
    margin-bottom: 1em;
    text-align: center;
    width: 200px;
    font-size: 18px;
    line-height: 1;
    color: #037693;
  }
}

.action{
  &__img{
    border: 1px solid #88bfcc;
    padding: 1em;
    width: 81px;
    height: 81px;
    &_filled{
      background-color: #037693;
    }
  }
  &__title{
    margin-top: 1em;
    &_up{
      text-transform: uppercase;
    }
  }
}

@mixin action-icon($name) {
  background: url("../img/action-#{$name}.png") center center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.img{
  &__icon{
    &-phone{
      @include action-icon(phone);
    }
    &-discuss{
      @include action-icon(discuss);
    }
    &-qr{
      @include action-icon(qr);
    }
    &-favorites{
      @include action-icon(favorites);
    }
  }
}
// /.container-howItWorks
.container-interaction{
  @extend .container-fluid;
  background-color: #037693;
  &__interaction-page{
    color: $text_white;
  }
}

.title-column{
  @extend .d-flex, .align-items-center;
  width: 225px;
  padding: 1em;
  border: 1px solid white;
  transform: rotate(-90deg) translateX(-88px);
  &__img{
    background: url("../img/title-column.png") no-repeat;
    background-size: contain;
    width: 61px;
    height: 13px;
    margin-right: 0.25em;
  }
  &__text{
    line-height: 0;
    letter-spacing: 0.16em;
    font-size: 20px;
    color: $text_white;
  }
}

.interaction-block{
  @extend .row, .justify-content-center, .align-items-center;
  font-size: 42px;
  padding-bottom: 1em;
  &__interaction-text{
    max-width: 460px;
  }
  &__interaction-actions{
    position: relative;
    width: 300px;
    height: 400px;
  }
}

.interaction-text{
  margin-right: 2em;
  &__title{
    width: 250px;
    margin-bottom: 0.2em;
    line-height: 1.2;
    font-weight: 700;
  }
  &__add-title{
    @extend .d-flex;
    margin-bottom: 1em;
    font-size: 21px;
    font-weight: 500;
  }
  &__text{
    font-size: 13px;
    font-weight: 200;
    letter-spacing: (20em/1000);
    &_hr{
      visibility: hidden;
    }
  }
}

.add-title{
  &__text{
    margin-right: 0.2em;
  }
  &__line{
    width: 7em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid white;
  }
}

.interaction-actions{
  &__img{
    position: absolute;
    width: 192px;
    height: 192px;
    &_ask{
      background: url("../img/action-ask.png") no-repeat;
      background-size: cover;
    }
    &_choose{
      top: 100px;
      left: 100px;
      background: url("../img/action-choose.png") no-repeat;
      background-size: cover;
    }
    &_select{
      bottom: 10px;
      background: url("../img/action-select.png") no-repeat;
      background-size: cover;
    }
  }
}
// /.container-interaction
@import "media"; // Always at the end
